<h1>Οδηγίες για την σωστή καταχώριση των περιστατικών</h1>

<p>Παρακαλώ, να ακολουθούνται οι παρακάτω οδηγίες κατά την καταχώριση των περιστατικών:</p>

<ul>

<li>
    Να δίνετε προοχή στις μονάδες μέτρησης.    
</li>

<li>
    Σε περίπτωση μη διαθέσιμής (άγνωστης) τιμής, αφήστε το πεδίο κενό. Μην γράψετε «0», ούτε παύλα «-», ούτε κενό διάστημα "space", ούτε κάτι άλλο.
</li>

<li>
    Όταν χρειάζεται να καταχωριστεί κάποιo δοκιμαστικό περιστατικό, είτε για εκπαιδευτικούς λόγους, είτε για λόγους troubleshooting, είτε σε περιπτώσεις περαιτέρω ανάπτυξης και δοκιμής, 
    θα πρέπει να επιλέγεται το πεδίο «Τεστ περιστατικό».
</li>

<li>
    Ο φορέας που πραγματοποιεί την καταχώριση θα πρέπει να ξέρει σε ποιον ασθενή αντιστοιχεί το «Αναγνωριστικό ασθενούς». Κανείς άλλος, όμως, να μην μπορεί να κάνει αυτή την αντιστοίχιση.
</li>


<li>
    Αφού πατήσετε «Καταχώριση περιστατικού», θα πρέπει να εμφανιστεί μια σελίδα η οποία παρουσιάζει το περιστατικό όπως αυτό καταγράφηκε στη βάση.<br>
    Να επιβεβαιώνετε ότι η απάντηση αυτή εμφανίζεται μετά από κάθε καταχώριση, πράγμα που επιβεβαιώνει την καταγραφή του. 
</li>







</ul>




<p>
    Για οποιαδήποτε απορία ή πρόταση, παρακαλώ επικοινωνήστε μαζί μας στο <a href="mailto:development@computerstudio.gr">development@computerstudio.gr</a>.
</p>