        <h1>Καλωσήρθατε</h1>
        <p>Καλωσήρθατε στην εφαρμογή καταχώρισης περιστατικών του ΕΥΚΑΡΔΙΑ</p>
        {{#if user.guest}}
        <div class="">
            <p>Παρακαλώ, συνδεθείτε για να συνεχίσετε:</p>
            <a href="/login" class="btn btn-success btn-login">Σύνδεση χρήστη</a>
        </div>
        {{else}}
        <div class="">
            {{> userinfo }}
            <p>Εισέλθετε στην εφαρμογή καταχώρισης περιστατικών:</p>
            <a href="/dataentryform" class="btn btn-success btn-entry">Καταχώριση περιστατικών</a>
        </div>
        {{/if}}
