        <p>Καλωσήρθατε στην εφαρμογή καταχώρισης περιστατικών του ΕΥΚΑΡΔΙΑ</p>
        <div class="show-if-guest">
            <p>Παρακαλώ, συνδεθείτε για να συνεχίσετε:</p>
            <a href="/login" class="btn btn-success btn-login">Σύνδεση χρήστη</a>
        </div>
        <div class="show-if-user">
            <p>Τρέχων χρήστης: <span class="text-nowrap" data-variable="username"></span></p>
            <p>Φορέας: <span class="text-nowrap" data-variable="entity"></span></p>
            <p>Εισέλθετε στην εφαρμογή καταχώρισης περιστατικών:</p>
            <a href="/dataentryform" class="btn btn-success btn-entry">Καταχώριση περιστατικών</a>
        </div>
