        <p>Καλωσήρθατε στην εφαρμογή καταχώρισης περιστατικών του ΕΥΚΑΡΔΙΑ</p>
        {{#if user.guest}}
        <div class="">
            <p>Παρακαλώ, συνδεθείτε για να συνεχίσετε:</p>
            <a href="/login" class="btn btn-success btn-login">Σύνδεση χρήστη</a>
        </div>
        {{else}}
        <div class="">
            <p>Τρέχων χρήστης: <span class="text-nowrap" data-variable="username">{{user.name}}</span></p>
            <p>Φορέας: <span class="text-nowrap" data-variable="entity">{{user.entity}}</span></p>
            <p>Εισέλθετε στην εφαρμογή καταχώρισης περιστατικών:</p>
            <a href="/dataentryform" class="btn btn-success btn-entry">Καταχώριση περιστατικών</a>
        </div>
        {{/if}}
