        <h1>Καλωσήρθατε</h1>
        <p>Καλωσήρθατε στην εφαρμογή καταχώρισης περιστατικών του προγράμματος ΕΥΚΑΡΔΙΑ.</p>
        {{#if user.guest}}
        <div class="">
            <p>Παρακαλώ, συνδεθείτε για να συνεχίσετε:</p>
            <a href="/login" class="btn btn-success">Σύνδεση χρήστη</a>
            <hr>
            <img src="banner-logos-md.jpg" alt="ΕΣΠΑ Logos">
        </div>
        {{else}}
        <div class="">
            {{> userinfo }}
            <p>Μεταβείτε στη φόρμα καταχώρισης περιστατικών:</p>
            <a href="/dataentryform" class="btn btn-success btn-entry">Καταχώριση περιστατικών</a>
        </div>
        {{/if}}
