<!DOCTYPE html>
<html lang="el">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Εφαρμογή καταχώρισης περιστατικών του ΕΥΚΑΡΔΙΑ">
    <meta name="author" content="Computer Studio">
    
    <title>{{pagetitle}}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="manifest" href="/pwa/manifest.json">  
    <meta name="theme-color" content="#20295b">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> --}}
    {{!-- <link rel="stylesheet" href="https://unpkg.com/open-props"/>
    <link rel="stylesheet" href="https://unpkg.com/open-props/normalize.min.css"/> --}}
    <link href="style.css" rel="stylesheet" media="screen">

    <script defer src="script.js"></script>

</head>




<body>

    <div class="body-container">


    <header class="app-header" id="app-header">
        <a href="/" class="index-link" aria-label="Home Page">
            <img src="logo.png" class="logo" alt="ΕΥΚΑΡΔΙΑ Logo"/>
            <span class="h1 app-title">ΕΥΚΑΡΔΙΑ</span>
        </a>

                {{!-- TODO: Different items for logged in users and logged off users --}}
                {{!-- <nav class="">
                    <div class="dropdown-center">
                    <button id="menutoggle" class="btn btn-primary dropdown-toggle text-shadow fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Μενού
                    </button>
                    <ul id="navdropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">Αρχική</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/dataentryform">Καταχώριση</a></li>
                        <li><a class="dropdown-item" href="/searchcase">Αναζήτηση</a></li>
                        <li><a class="dropdown-item" href="/statistics">Στατιστικά</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/privacy">Πολιτική απορρήτου</a></li>
                        <li><a class="dropdown-item" href="/cookies">Πολιτική cookies</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/info">Πληροφορίες</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Αποσύνδεση</a></li>
                    </ul>
                    </div>
                </nav> --}}



        <div class="d-md-none toggle-menu-div">
            <button class="btn text-white toggle-menu" id="toggle-menu" aria-label="Navigation menu">
                <svg viewBox='-5 0 10 8' width='30'>
                <line y2='8' 
                        stroke='lavender'  
                        stroke-width='20' 
                        stroke-dasharray='1.5 1.5'/>
                </svg>
            </button>
        </div>
        <nav class="navbar navbar-dark d-none d-md-block" id="navbar">
            <ul>
                {{#if user.guest}}
                <li><a href="/login" id="navlogin" >Σύνδεση χρήστη</a></li>
                {{else}}
                <li id="naventry"><a href="/dataentryform">Καταχώριση</a></li>
                <li id="navsearch"><a href="/searchcase">Αναζήτηση</a></li>
                <li ><a href="/logout" id="navlogout" >Αποσύνδεση</a></li>

                {{/if}}
            </ul>
        </nav>


    </header>

    <main>

        {{{ body }}}

    </main>


    <footer>

    </footer>

    </div>
</body>






</html>