        <h1>Αναζήτηση περιστατικού</h1>
        <p>Παρακαλώ, συμπληρώστε ένα από τα παρακάτω στοιχεία για αναζήτηση του περιστατικού</p>
            <form action="" method="">
                <div class="form-floating">
                    <input type="text" class="form-control" id="dbId" name="dbId" placeholder="ID βάσης">
                    <label for="dbId">ID βάσης</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="text" class="form-control" id="patientId" name="patientId" placeholder="Αναγνωριστικό ασθενούς">
                    <label for="patientId">Αναγνωριστικό ασθενούς</label>
                </div>
                <br>
                <button id="search" class="btn btn-success">Αναζήτηση</button>
            </form>
            <hr>

            <div class="center-contents d-none" id="loadingSpinner">
                <div class="m-5 spinner-border text-primary" role="status" >
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div id="searchresult">

            </div>
