
<div class="center-contents">

    <div class="center-contents" id="loadingSpinner">
        <div class="m-5 spinner-border text-primary" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div id="caseframe" class="sm d-none">
        <h1>Συγκεντρωτικά στοιχεία</h1>
        <p>Πλήθος καταχωρισμένων περιστατικών του προγράμματος ΕΥΚΑΡΔΙΑ:</p>
        <br>
        <div id="statistics" class="case"></div>

    </div>

    <div id="caseerror" class="d-none">
        <p>Δεν έχετε τα απαραίτητα δικαιώματα δικαιώματα.</p>
    </div>

    <br>
    <div id="actionButtons" class="d-none">
        <a href="/dataentryform" class="btn btn-success m-1" id="returnBtn">Επιστροφή στην καταχώριση</a>
    </div>

</div>