            <p>Τρέχων χρήστης: <span class="text-nowrap" data-variable="username">{{user.name}}</span></p>
            <p>Φορέας: <span class="text-nowrap" data-variable="entity">{{user.entity}}</span></p>