
    <div id="caseframe" class="d-none">
        <p>Στη βάση καταχωρήθηκαν τα παρακάτω:</p>
        <br>
        <div id="case" class="case center-contents"></div>

        <p>Επεξηγήσεις:<br>
            Για πεδία "Ναι/Όχι": 1=Ναι, 0=Όχι<br>
            Για πεδία με επιλογές: 1-5 (αριθμός επιλογής)<br>
        </p>
    </div>

    <div id="caseerror" class="d-none">
        <p>Το περιστατικό δεν υπάρχει ή δεν έχετε τα δικαιώματα να το δείτε</p>
    </div>

    <br>
    <a href="/dataentryform" class="btn btn-success btn-login d-none" id="returnBtn">Επιστροφή στην καταχώριση </a>

