
<div class="center-contents">

    <div class="center-contents" id="loadingSpinner">
        <div class="m-5 spinner-border text-primary" role="status" >
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div id="caseframe" class="sm d-none">
        <h1>Προβολή περιστατικού</h1>
        <p>Στη βάση δεδομένων καταχωρήθηκε το παρακάτω περιστατικό:</p>
        <br>
        <div id="case" class="case"></div>

        <p>Επεξηγήσεις:<br>
            Για πεδία "Ναι/Όχι": 1=Ναι, 0=Όχι<br>
            Για πεδία με επιλογές: 1-5 (αριθμός επιλογής)<br>
        </p>
    </div>

    <div id="caseerror" class="d-none">
        <p>Το περιστατικό δεν υπάρχει ή δεν έχετε τα δικαιώματα να το δείτε.</p>
    </div>

    <br>
    <div id="actionButtons" class="d-none">
        <a href="/dataentryform" class="btn btn-success m-1" id="returnBtn">Καταχώριση νέου περιστατικού</a>
        <a href="/editcase" class="btn btn-secondary m-1" id="editBtn">Επεξεργασία περιστατικού</a>
    </div>

</div>