
:root{
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --pharmacygreen: #00a651;
    --display-if-user: none;
    --display-if-guest: block;
    --unknown-answer: silver;
}



/* BASIC BOILERPLATE CORRECTIONS */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Remove default margin and padding */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0.5rem 0;
}
ol, ul, li{
    margin-block: 0;
}



/* Make images easier to work with */
img,
svg,
.center,
picture,
figure {
  max-width: 100%;
  display: block;
  margin-inline: auto;		
  text-align: center;	/*text inside figure*/
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Links */
a{
    text-decoration: none;
    box-shadow: none;
    transition: all 0.3s; 
    font-weight: bold;
    /* color: Blue; */
}
a:hover{color: hwb(180 10% 81%)}
a:focus{outline: black solid 3px}


body{
    background-color: black;
}


.center{    
	display: block;					/* important for everything */
	margin-inline: auto !important; /* centers if this is image or div*/
	text-align: center;				/* centers if this is text */
}
.center-contents{
	display: grid;              /*(το grid έχει το ίδιο αποτέλεσμα με το flex:space-around) */
	place-items: center;
}
.inline-contents{  
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}


/*********************  HEADER FOOTER   *********************/


header, header a:first-of-type, header nav>ul {    /*header, left logo, right navs*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;  /*vertical align, when big logo*/
    list-style-type: none; 
    gap: 2rem 3rem;
}

header{
    background-color:var(--pharmacygreen);
    color: whitesmoke;
    padding: 0.5rem 3rem;
    border-bottom: 1px solid #e5e5e5;
}

header a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

footer{padding: 1rem 3rem;}
footer p{font-size: small}


.body-container{
    background-color: lavender;
    max-width: min(100% - 2rem, var(--lg));
    margin-inline: auto; /*centers */
    overflow-x: hidden;
}





/*********************  MAIN   *********************/


main{
    padding: 1rem 3rem;
}


.show-if-user{
    display: var(--display-if-user) !important;
}
.show-if-guest{
    display: var(--display-if-guest) !important;
}



.input-element{
    margin: 1rem 0;
}

input[type="number"]+label, input[type="text"]+label, textarea+label {
    color: var(--bs-secondary);
}

.bootstrap-input-style{
    margin-block: 1rem;
    background-color: var(--bs-white);
    border: 1px solid lightgray;
    border-radius: 0.4rem;
    padding: 0.7rem;
}

.bg-highlight{
    background-color: WhiteSmoke;
}

.unknown-choice{
    color: var(--unknown-answer);
}
.unknown-choice input[type="radio"]{
    background-color: var(--unknown-answer);
    border: var(--unknown-answer);
} 

#testPatient:checked {
    background-color: red;
}